.entity-container {
    display: flex;
    flex-direction: column;
    padding-right: 10rem;

    label {
        display: grid;
        grid-template-columns: 5rem 1fr;
        gap: 1rem;
        margin: 0.1rem 0;
    }

}


.header {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1rem 0;
}